.Dashboard {
  min-height: 355px;
  padding-top: 60px;
  background-color: #ecf5ff;
}

.Dashboard img {
  width: 150px;
  height: 150px;
  object-fit: scale-down;
}

span.tags {
  background: #1abc9c;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 4px 4px;
}

#dashboard {
  padding: 60px 0 40px 0;
}

#dashboard .box,
.Dashboard .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#dashboard .box:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#dashboard .icon {
  left: 0px;
  top: calc(50% - 32px);
}

#dashboard .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

#dashboard .title {
  font-weight: 700;
  font-size: 18px;
  padding-top: 18px;
}

#dashboard .title a {
  color: #111;
}

#dashboard .box:hover .title a {
  color: #007bff;
}

#dashboard .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

.fas {
  color: green;
}
