
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="uicss.css">
    <title>Publication</title>
</head>

<body>
    <!-- START HERE -->

    <section id="publication-ui">
        <!-- Button for publication -->
        <div class="container">
            <div class="mt-4">
                <a href="#" class="btn btn-custom text-center float-right"><i class="fa fa-plus" id="plus"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- Form for publication  -->
        <form action="" class="publication-form">
            <label for="title">Title</label>
            <input type="text" placeholder="Enter Publication Title" id="title">
            <label for="author">Author</label>
            <input type="text" placeholder="Enter Author's name" id="author">
            <label for="link">Link</label>
            <input type="text" placeholder="Enter Publication Link" id="link">
            <label for="date">Date</label>
            <input type="date" id="date">
        </form>

        <div class="clearfix"></div>
        <!-- Cards to show publications -->
        <section class="publications mt-4">
            <div class="publication">
                <h4 class="text-center publication-title">Title</h4>
                <a href="http://hello.com">https://hello.com</a>
                <div class="mr-4 mt-6">
                    <button href="" class="btn-edit">Edit</button>
                    <button href="" class="btn-view">Print Pdf</button>
                    <button href="" class="btn-delete">Delete</button>
                </div>
                <div class="clearfix"></div>
                <h5 class="float-right">~ author</h5>
                <div class="clearfix"></div>
            </div>
            <div class="publication">
                    <h4 class="text-center publication-title">Title</h4>
                    <a href="http://hello.com">https://hello.com</a>
                    <div class="mr-4 mt-6">
                        <button href="" class="btn-edit">Edit</button>
                        <button href="" class="btn-view">Print Pdf</button>
                        <button href="" class="btn-delete">Delete</button>
                    </div>
                    <h5 class="float-right">~ author</h5>
                    <div class="clearfix"></div>
                </div>
            <div class="publication">
                    <h4 class="text-center publication-title">Title</h4>
                    <a href="http://hello.com">https://hello.com</a>
                    <div class="mr-4 mt-6">
                        <button href="" class="btn-edit">Edit</button>
                        <button href="" class="btn-view">Print Pdf</button>
                        <button href="" class="btn-delete">Delete</button>
                    </div>
                    <h5 class="float-right">~ author</h5>
                    <div class="clearfix"></div>
                </div>
        </section>
    </section>
</body>

</html>