/* common stylings */
.text-center {
    text-align: center;
  }
  
  .btn {
    border: none;
  }
  
  .float-right {
    float: right;
  }
  
  .clearfix {
    clear: both;
  }
  
  .publication-form {
    margin: auto;
    max-width: 500px;
  }
  
  .publication-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: calc(1.5em + 0.75rem + 5px);
    padding: 0.1rem 0 0 0.4rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .publication-form input:focus {
    outline: none;
    border: 1px solid #495057;
  }
  
  label {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0.5rem;
  }
  
  .btn-custom {
    width: 50px;
    height: 50px;
    color: #fff;
    background: orangered;
    border-radius: 50%;
  }
  
  .btn-custom i {
    line-height: 50px;
  }
  
  .btn-custom:hover {
    opacity: 0.7;
  }
  
  input[type='date'] {
    background: #fff
      url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
      97% 50% no-repeat;
  }
  
  input[type='date']::-webkit-inner-spin-button {
    display: none;
  }
  input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
    margin-left: 10px;
  }
  
  .mt-6 {
    margin-top: 4rem;
  }
  
  .mr-4{
      display: flex;
      justify-content: center;
  }
  
  .container {
    margin: 3rem;
  }
  
  .publications {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 40px;
    margin: auto;
    width: 90%;
  }
  
  .publication {
    padding: 10px;
    margin: 10px;
    border: 1px solid #495057;
    border-radius: 5px;
  }
  
  .publication a{
      display: flex;
      justify-content: center;
  }
  
  button{
      border: none;
      font-size: 16px;
      font-weight: 400;
      padding: 8px;
      margin: 5px;
  }
  
  button:hover{
      opacity: 0.7;
  }
  
  .publication-title{
      font-size: 22px;
      font-weight: bold;
      font-family: 'Raleway', sans-serif;
      text-decoration:underline;
  }
  
  .publication .btn-edit {
    border: 1px solid #333;
    border-radius: 5px;
    background: #20ff0c;
  }
  
  .publication .btn-view{
      background: #0cffeb;
      border: 1px solid #333;
      border-radius: 5px;
  }
  
  .publication .btn-delete{
      background: #ff2b2b;
      border: 1px solid #333;
      border-radius: 5px;
  }
  
  @media(max-width: 40rem){
      .publication-form{
          max-width: 100%;
      }
      .publications{
          grid-template-columns: 100%;
      }
  }