<!DOCTYPE html>
<html>

<head>
	<title>CS Department</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./assets/css/cs.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Grenze:400,400i,700,700i|Roboto+Slab:400,700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-sm justify-content-center ">
		<!-- Brand/logo -->
		<a class="navbar-brand" href="#">
			<img src="mvp.jpeg" class="img-fluid d-block" alt="logo" style="width:100%;">
		</a>
		<div class="container justify-content-md-center">
			<div class="header">
				<h1>JSS Science and Technology University</h1>
				<h4>(formerly SJCE) JSS Technical Institution Campus,Mysuru</h4>
			</div>
		</div>
		<a class="justify-content-md-end" href="#">
			<img src="jss_logo.jpg" class="img-fluid d-block" alt="logo" style="width:350px; height:100px;">
		</a>
	</nav>
	<br>

	<div class="marquee">
		<marquee>DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING</marquee>
	</div>
	<br>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="sidebar">
				  <a href="#about" >Faculty</a>
				  <a href="#services">Facilities</a>
				  <a href="#clients">Labs</a>
  				  <a href="#contact">Contact</a>
			      	<button class="dropdown-btn">Time Table
				    	<i class="fa fa-caret-down"></i>
			        </button>
			    	<div class="dropdown-container">
    					<a href="#" >I</a>
    					<a href="#">II</a>
    					<a href="#">III</a>
    					<a href="#">IV</a>
  					</div>
  				  <a href="#NBA">NBA</a>
  				  <a href="#NBA" >Calender of Events</a>
  				  <a href="#NBA">TEQUIP-III</a>
				  <a href="#NBA">Research</a>
				  <a href="#NBA">Projects</a>
				</div>
			</div>

			<div class="col-md-9">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top mt-5">
        
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="./assets/images/first.jpg" class="img-fluid d-block w-100">
						</div>
						<div class="carousel-item">
							<img src="./assets/images/sec.jpeg" class="img-fluid d-block w-100">
						</div>
						<!-- 	<div class="carousel-item">
								<img src="main.jpeg" class="img-fluid d-block w-100">
							</div> -->

						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
							data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
							data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="img-fluid">
						<div class="container">
							<img src="./assets/images/vision.jpeg" alt="Avatar" class="image" style="width:100%">
							<div class="middle">
								<div class="text" style="font: sans-serif">VISION</div>
							</div>
						</div>
					</div>
					<div class="img-fluid">
						<div class="container">
							<img src="./assets/images/mission.jpeg" alt="Avatar" class="image" style="width:100%">
							<div class="middle">
								<div class="text">MISSION</div>
							</div>
						</div>
					</div>
				</div><br>
				<div class="row">
					<div class="img-fluid">
						<div class="container">
							<img src="./assets/images/outcome.jpeg" alt="Avatar" class="image" style="width:100%">
							<div class="middle">
								<div class="text">OUTCOME BASED EDUCATION</div>
							</div>
						</div>
					</div>
					<div class="img-fluid">
						<div class="container">
							<img src="./assets/images/first.jpg" alt="Avatar" class="image" style="width:100%">
							<div class="middle">
								<div class="text">John Doe</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="list-group list-group-flush">
					<li class="list-group-item text-center" style="background-color: light-blue;">
						LOGIN
					</li>
					<a href="#" class="list-group-item list-group-item-action list-group-item-dark">Admin Login</a>
					<a href="#" class="list-group-item list-group-item-action list-group-item-dark">Faculty Login</a>
				</div>
				<br>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">List group item heading</h5>
							<small>3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
							varius blandit.</p>
						<small>Donec id elit non mi porta.</small>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">List group item heading</h5>
							<small class="text-muted">3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
							varius blandit.</p>
						<small class="text-muted">Donec id elit non mi porta.</small>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">List group item heading</h5>
							<small class="text-muted">3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
							varius blandit.</p>
						<small class="text-muted">Donec id elit non mi porta.</small>
					</a>
				</div>

			</div>
		</div>
	</div>
	<br>


	<div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Upcoming Events</div>
				<div class="card-body text-dark">
                	<div style="float:left">
					        <i class="fa fa-calendar" aria-hidden="true"></i>
                        	<span class="month">Nov 25</span>
                	</div>
					<div style="float:left">
                    	<h5 class="card-title">Hackathon</h5>					
                		<a href="https://events.ucf.edu/event/1355725/cecs-graduate-programs-open-house-day/" target="_blank">
                    	CECS Graduate Programs Open House Day                </a>
                    	<p class="card-text">Description and who can participate</p>
					</div>						
            	</div>
            </div>
			
    </div>
	<div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Upcoming Events</div>
				<div class="card-body text-dark">
					<div class="list-group">
						<a href="#" class="list-group-item list-group-item-action list-group-item-primary">
							<div class="d-flex w-100 justify-content-between">
								<i class="fa fa-calendar" aria-hidden="true">  OCT 12</i>
							</div>
							
								<h3>HACKATHON 1</h3>
								<p class="card-text">Description and who can participate</p>			
						</a>
						<a href="#" class="list-group-item list-group-item-action list-group-item-primary">
							<div class="d-flex w-100 justify-content-between">
								<i class="fa fa-calendar" aria-hidden="true">  NOV 8</i>
												
							</div>
								<h3>HACKATHON 2 </h3>
								<p class="card-text">Description and who can participate</p>			
						</a>
						<div a href="#" class="list-group-item list-group-item-action list-group-item-primary">See All Events
						</div>	
					</div>
				</div>
			</div>
		
	</div>			


	<!-- footer -->
	<footer style="background-color: #2c292f">
		<div class="container">
			<div class="row ">

				<div class="col-md-4 text-center text-md-left ">ß
					<div class="py-0">
						<div>
							<p class="text-white"> <i class="fa fa-map-marker mx-2 "></i>
								Campus Roads, University Of Mysore Campus,
								Mysuru,Karnataka
								570006</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 text-white text-center text-md-left ">
					<span class=" font-weight-bold ">FOLLOW US</span>
					<div class="py-2">
						<a href="#"><i class="fa fa-google-plus fa-2x text-danger mx-3"></i></a>
						<a href="#"><i class="fa fa-facebook fa-2x text-primary mx-3"></i></a>
						<a href="#"><i class="fa fa-twitter fa-2x text-info mx-3"></i></a>
						<a href="#"><i class="fa fa-youtube fa-2x text-danger mx-3"></i></a>
					</div>
				</div>

				<div class="col-md-4 text-white my-4 text-center text-md-left ">
					<span class=" font-weight-bold ">CONTACT US</span>
					<p class="text-warning my-2">JSS Science and Technology University (Formerly SJCE), JSS TI Campus,
						Mysuru 570006</p>
					<p><i class="fa fa-phone  mx-2 "></i> 0821-2548285,86,87 </p>
					<p><i class="fa fa-envelope  mx-2"></i><a href="#">office@jssstuniv.in</a></p>

				</div>
			</div>
		</div>
	</footer>
	<!-- end of footer -->


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script>
		var dropdown = document.getElementsByClassName("dropdown-btn");
		var i;

		for (i = 0; i < dropdown.length; i++) {
 		 dropdown[i].addEventListener("click", function() {
		    this.classList.toggle("active");
 	   	var dropdownContent = this.nextElementSibling;
 	   	if (dropdownContent.style.display === "block") {
	      dropdownContent.style.display = "none";
	    } else {
      	dropdownContent.style.display = "block";
 	   		}
	  	  });
		}
	</script>



</body>
</html>