body{
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
    background:url(login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.signin{
    background:rgba(45,63,81,0.9);
    padding: 20px 40px;
    width:400px;
    height:480px;
    margin-top:80px;
    margin-left:180px;
    margin:0 auto;
    margin-top:90px;
    border-radius: 15px;
    position: relative;
}

form{
    width:240px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
}

input{
    width:240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size:16px;
    font-weight: 200px;
    padding:10px 0;
    transition: border 0.5s;
    outline:none;
    color:#fff;
}
input[type=button]{
    border: none;
    width:190px;
    background:white;
    color:#000;
    font-size:16px;
    line-height: 25px;
    padding:10px 0;
    border-radius:15px;
    cursor:pointer; 
}

input[type=button]:hover
{
    color:#fff;
    background-color: black;
}

h2{
    color:white;
}

a{
    color:yellow;  
    /* text-decoration: none; */
}

.icons-login{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 25px;
}

i{
    margin-right: 55px;
}

.fab {
    padding: 20px;
    background: #333;
    border-radius: 100%;
}

a:hover{
    color:skyblue;
}

.container
{
    display:flex;
    flex-direction: row;
    width:100%;
}

::placeholder{
    color:aliceblue;
    opacity:0.8;
}

@media(max-width: 50rem) and (min-width: 40rem) {
    .signin {
        margin-top: 25%;
    }

    ::placeholder,
    input {
        font-size: 22px;
    }
}

@media(max-width: 400px) {
    .signin {
        margin-top: 25%;
        width: 100%;
    }
}

@media(max-width: 400px){
    i{
        margin-right: 20px;
    }
}