/* common stylings */
.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}


.form-control{
  margin:auto;
  max-width:500px;
}

.publication-form input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  height: calc(1.5em + 0.75rem + 5px);
  padding: 0.1rem 0 0 0.4rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.publication-form input:focus {
  outline: none;
  border: 1px solid #495057;
}


.mt-6 {
  margin-top: 4rem;
}

.mr-4{
    display: flex;
    justify-content: center;
}

.upper{
  margin: 2rem;
}

.publications {
  display: block;
  grid-template-columns: 50% 50%;
  margin-top: 40px;
  width: 90%;
}

.publication {
  margin-top:20px;
  padding: 10px;
  border: 1px solid black;
  border-radius:5px;
  background:rgba(247, 244, 244, 0.979);
  margin-bottom:30px;
  box-shadow:10px #495057;
}

.publication a{
    display: flex;
    justify-content: center;
}

button{
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    margin: 5px;
}

.publication-title{
    font-size: 35px;
    font-weight: bold;
    font-family:'Raleway',sans-serif;
    text-decoration:none;
    margin-bottom:15px;
}

.mt{
  margin-top: 100px;
}


@media(max-width:510px){
    .publication-form{
        width:80%;
    }
    .publications{
        grid-template-columns: 90%;
    }
}

.card{
  box-shadow: 2px 2px 5px 1px grey;
}


.btn-custom {
  z-index: 10;
  position: fixed;
  top: 110px;
  right: 20px;
  width: 50px;
  height: 50px;
  color: #fff;
  background: orangered;
  border-radius: 50%;
}


.btn-custom:hover {
  opacity: 0.7;
}

.btn-custom:focus{
  outline: none;
}