#faculty img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

#faculty .dev-list .widget {
  padding: 20px 15px;
  margin-bottom: 30px;
}

/*------------------------------------------------------------------
    SECTIONS(heading)
-------------------------------------------------------------------*/

.parallax {
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding: 120px 0;
  position: relative;
  width: 100%;
}

.parallax.parallax-off {
  background-attachment: scroll !important;
  display: block;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-position: center center;
  width: 100%;
  z-index: 2;
}

.no-scroll-xy {
  overflow: hidden !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.section {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 120px 0;
}

.noover {
  overflow: visible;
}

.noover .btn-dark {
  border: 0 !important;
}

.nopad {
  padding: 0;
}

.nopadtop {
  padding-top: 0;
}

.section.wb {
  background-color: #ffffff;
}

.section.lb {
  background-color: #f2f3f5;
}

.section.db {
  background-color: #1f1f1f;
}

.section.color1 {
  background-color: #448aff;
}

.first-section {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 16em 0 13em;
}

.first-section h2 {
  color: #ffffff;
  font-size: 68px;
  font-weight: 600;
  text-transform: capitalize;
  display: block;
  margin: 0;
  padding: 0 0 30px;
  position: relative;
}

.first-section .lead {
  font-size: 21px;
  font-weight: 300;
  padding: 0 0 40px;
  margin: 0;
  line-height: inherit;
  color: #ffffff;
}

.macbookright {
  width: 980px;
  position: absolute;
  right: -15%;
  bottom: -6%;
}

.section-title {
  display: block;
  position: relative;
  margin-bottom: 60px;
}

.section-title p {
  color: #999;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  margin: 0;
}

.section-title h3 {
  font-size: 42px;
  font-weight: 600;
  line-height: 62px;
  margin: 0 0 25px;
  padding: 0;
  text-transform: none;
}

.section.colorsection p,
.section.colorsection h3,
.section.db h3 {
  color: #ffffff;
}

/*------------------------------------------------------------------
    ICON BOXES
-------------------------------------------------------------------*/

.icon-wrapper {
  position: relative;
  cursor: pointer;
  display: block;
  z-index: 1;
}

.icon-wrapper i {
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-size: 28px;
  background-color: #f2f3f5;
  color: #1f1f1f;
  margin-top: 0;
}

.small-icons.icon-wrapper:hover i,
.small-icons.icon-wrapper:hover i:hover,
.small-icons.icon-wrapper i {
  width: auto !important;
  height: auto !important;
  line-height: 1 !important;
  padding: 0 !important;
  color: #e3e3e3 !important;
  background-color: transparent !important;
  background: none !important;
  margin-right: 10px !important;
  vertical-align: middle;
  font-size: 24px !important;
}

.small-icons.icon-wrapper h3 {
  font-size: 18px;
  padding-bottom: 5px;
}

.small-icons.icon-wrapper p {
  padding: 0;
  margin: 0;
}

.icon-wrapper h3 {
  font-size: 21px;
  padding: 0 0 15px;
  margin: 0;
}

.icon-wrapper p {
  margin-bottom: 0;
  padding-left: 95px;
}

.icon-wrapper p small {
  display: block;
  color: #999;
  margin-top: 10px;
  text-transform: none;
  font-weight: 600;
  font-size: 16px;
}

.icon-wrapper p small:after {
  content: "\f105";
  font-family: FontAwesome;
  margin-left: 5px;
  font-size: 11px;
}

.effect-1 {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.effect-1:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.effect-1 {
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.effect-1:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 2px #2750ff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(0.8);
  opacity: 0;
}

.effect-1:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.effect-1:after {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.effect-1:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
